<!-- Intended for use within githubUserViewer module and GitHubController -->
<div>
  <h2>{{user.name}}</h2>
  {{error}}
  <div>(<a target="_blank" href={{user.html_url}}>link to github</a>)</div>
  <img ng-src="{{user.avatar_url}}" height=100>
  <div ng-show="user.bio">{{user.bio}}</div>
  <div ng-show="repos">
    <h3>Repos</h3>
    <table>
      <thead>
        <tr>
          <th><a ng-click="sortOrder='name'" href="">Name</a></th>
          <th><a ng-click="sortOrder='-stargazers_count'" href="">Stars</a></th>
          <th><a ng-click="sortOrder='language'" href="">Language</a></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="repo in repos | orderBy:sortOrder">
          <td><a href="#!/repo/{{username}}/{{repo.name}}">{{repo.name}}</a></td>
          <td class="total">{{repo.stargazers_count | number}}</td>
          <td>{{repo.language}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <a href="#/main">Back to search</a>
</div>